body{
	font-family: "Microsoft YaHei" ! important;
}

.site-header{
    background: #131619;
    height: 66px;
    position: relative;
    z-index: 99;
}

#site-logo{
    margin-top: 10px;
}

.container{
	width: 1188px;
    margin: 0 auto;
}



.site-branding{
	color:#fff;
	float: left;
	width:200px;
}

.site-title{
	color:#fff;
}


#site-navigation{
	width: 750px;
    height: 66px;
    float: right;
    position: relative;
    z-index: 1;
}


.menu-toggle{
	display: none;
}

#primary-menu{
	padding: 0;
	margin: 0;
	list-style: none;
}

#primary-menu li{
	width: 105px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    float: left;
    position: relative;
    list-style: none;
    padding: 0;
}

#primary-menu a{
	color: #fff;
    font-size: 16px;
    display: block;
    line-height: 66px;
    text-decoration: none;
}

.current-menu-item,
.hover-menu-item{
	background: #c00;
    color: #fff;
}

.menu-item-has-children{
	position: relative;
}

.sub-menu{
	display: none;
	width:105px;
	position: absolute;
	top:66px;
	left: 0;
	z-index: 999;
	background: #c00;
}

#primary-menu .sub-menu li{
	list-style: none;
	height: 48px;
}

#primary-menu .sub-menu a{
	font-size: 14px;
	line-height:48px;
}

#primary-menu .sub-menu li:hover{
	background: gray;
}















.footer {
	height: 255px;
	background: #a5a5a5;
	overflow: hidden
}
.footer  a{
	color: #fff;
}
.footer  a:hover{
	color: #fff;
}
.footer .contain {
	width: 1188px;
	margin: 50px auto 0;
	background: url(images/erweima.jpg) no-repeat;
	height: 205px;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	text-align: right;
}
.copyright {
	height: 75px;
	background: url(images/copyright_bg.jpg) repeat-x #18191d;
	text-align: center;
	font-size: 14px;
	line-height: 75px;
	color: #fff;
}
.wrap{width:800px;margin-left: 388px;}


#colophon{
	background: #18191d;
	height: 50px;
	text-align: center;
	line-height: 50px;
}


.site-main{
	float: right;
	width: 850px;
    overflow: hidden;
}

.secondary{
	width: 260px;
    float: left;
    overflow: hidden;
}


.entry-title{
	font-size: 24px;
	font-weight: normal;
	line-height: 150%;
	color:#c00;
	text-align: center;
}

.entry-meta{
	margin: 20px auto 30px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    overflow: hidden;
}


.entry-content{
	margin:10px 0 20px 0;
}

.entry-content p{
	font-size: 14px;
	line-height: 200%;
	text-indent: 2em;
	margin: 10px 0;
}


.shng-list-widget{
	margin-top: 5px;
	margin-bottom: 5px;
}

.widget-title{
	padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    vertical-align: baseline;
    overflow: hidden;
}

.widget-title-box{
	display: inline-block;
	width:20px;
	height: 20px;
	margin-right: 20px;
	background: #c00;
	vertical-align: baseline;
}


.more{
	float: right;
	margin-top: 7px;
	color:#677171;
	font-size: 14px;
}


.post-list li{
	height: 40px;
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
	font-size: 16px;
	color:#000;
}

.post-list .list-item a{
	color:#000;
}

.post-list .list-item a:hover{
	color:#c00;
}

.post-date{
	font-size: 12px;
	position: relative;
	left: -5px;
}

.post-date b{
	font-size: 18px;
	position: relative;
	left: 5px;
}


.breadcrumbs{
	height: 70px;
    line-height: 70px;
    width: 1188px;
    margin: 0 auto 30px;
    border-bottom: 2px solid #c00;
    overflow: hidden;
}



.archive-item{
	border-bottom: 1px solid #f0f0f0;
	margin: 15px 0;
	padding: 15px 0;
}

.archive-item-thumb{
	float: left;
	width:250px;
}

.archive-item-content{
	margin-left: 250px;
}

.archive-item-header h3 a{
	font-size: 18px;
	font-weight: normal;
	color: #000;
}

.archive-item-meta{
	margin: 15px 0;
}

.archive-item-description{
	color: #999;
    font-size: 14px;
    line-height: 24px;
}

.media-item{
	margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
}

.media-thumbnail{
	float: left;
	width: 90px;
	height: 60px;
	overflow: hidden;
}



.media-content{
	width: 170px;
    height: 60px;
    text-indent: 16px;
    background: #c7c7c7;
    float: right;
    overflow: hidden;
}

.media-content h3{
	font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 3px;
}

.media-content p{
	font-size: 12px;
}


@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1460443385'); /* IE9*/
  src: url('iconfont.eot?t=1460443385#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1460443385') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1460443385') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1460443385#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}




.wp-pagenavi {
    padding: 20px 0;
    color: #AAA;
}

.wp-pagenavi a {
    background-color: #C00;
    color: #FFF;
    margin: 5px;
    padding: 5px 10px;
}

.wp-pagenavi a:hover {
    color: #FFF;
}

.wp-pagenavi .pages {
    background-color: #F2F2F2;
    border: 1px solid #EEE;
    margin: 5px;
    padding: 4px 8px;
}

.wp-pagenavi .current {
    border: 1px solid #EEE;
    margin: 5px;
    padding: 4px 8px;
    color:#c00;
}

.cp-pagenavi {
    margin: -5px;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #EEE;
}

.cp-pagenavi a {
    background-color: #CCC;
    color: #ffffff;
    margin: 3px;
    padding: 4px 8px;
}

.cp-pagenavi a:hover {
    background-color: #444;
}

.cp-pagenavi .current,
.cp-pagenavi .current-comment-page {
    border: 1px solid #EEE;
    margin: 3px;
    padding: 4px 8px;
    color: #c00;
}


.post-navigation{
	margin-top: 20px;
	padding-top:20px;
	border-top: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.post-navigation h2{
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: normal;
}

.nav-previous,
.nav-next{
	float: left;
	width:49%;
	font-size: 14px;
}

.nav-next{
	float: right;
	text-align: right;
}


.site-banner img{
	width:100%;
}



#respond { 
background: #ececec;
padding:0 5px 0 5px;
}

/* Highlight active form field */

#respond input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
#respond input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


#author { 
font-family: Lobster, "Lobster 1.4", "Droid Sans", Arial;
font-size: 16px;
color:#1d1d1d; 
letter-spacing:.1em;
} 

#url  { 
color: #21759b;
font-family: "Luicida Console", "Courier New", "Courier", monospace; 
} 
