body{
	font-family: "Microsoft YaHei" ! important;
}

.site-header{
    background: #131619;
    height: 66px;
    position: relative;
    z-index: 99;
}

#site-logo{
    margin-top: 10px;
}

.container{
	width: 1188px;
    margin: 0 auto;
}



.site-branding{
	color:#fff;
	float: left;
	width:200px;
}

.site-title{
	color:#fff;
}


#site-navigation{
	width: 750px;
    height: 66px;
    float: right;
    position: relative;
    z-index: 1;
}


.menu-toggle{
	display: none;
}

#primary-menu{
	padding: 0;
	margin: 0;
	list-style: none;
}

#primary-menu li{
	width: 105px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    float: left;
    position: relative;
    list-style: none;
    padding: 0;
}

#primary-menu a{
	color: #fff;
    font-size: 16px;
    display: block;
    line-height: 66px;
    text-decoration: none;
}

.current-menu-item,
.hover-menu-item{
	background: #c00;
    color: #fff;
}

.menu-item-has-children{
	position: relative;
}

.sub-menu{
	display: none;
	width:105px;
	position: absolute;
	top:66px;
	left: 0;
	z-index: 999;
	background: #c00;
}

#primary-menu .sub-menu li{
	list-style: none;
	height: 48px;
}

#primary-menu .sub-menu a{
	font-size: 14px;
	line-height:48px;
}

#primary-menu .sub-menu li:hover{
	background: gray;
}












.footer {
	height: 255px;
	background: #a5a5a5;
	overflow: hidden
}
.footer  a{
	color: #fff;
}
.footer  a:hover{
	color: #fff;
}
.footer .contain {
	width: 1188px;
	margin: 50px auto 0;
	background: url(images/erweima.jpg) no-repeat;
	height: 205px;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	text-align: right;
}
.copyright {
	height: 75px;
	background: url(images/copyright_bg.jpg) repeat-x #18191d;
	text-align: center;
	font-size: 14px;
	line-height: 75px;
	color: #fff;
}
.wrap{width:800px;margin-left: 388px;}


#colophon{
	background: #18191d;
	height: 50px;
	text-align: center;
	line-height: 50px;
}


.site-main{
	float: right;
	width: 850px;
    overflow: hidden;
}

.secondary{
	width: 260px;
    float: left;
    overflow: hidden;
}


.entry-title{
	font-size: 24px;
	font-weight: normal;
	line-height: 150%;
	color:#c00;
	text-align: center;
}

.entry-meta{
	margin: 20px auto 30px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    overflow: hidden;
}


.entry-content{
	margin:10px 0 20px 0;
}

.entry-content p{
	font-size: 14px;
	line-height: 200%;
	text-indent: 2em;
	margin: 10px 0;
}


.shng-list-widget{
	margin-top: 5px;
	margin-bottom: 5px;
}

.widget-title{
	padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    vertical-align: baseline;
    overflow: hidden;
}

.widget-title-box{
	display: inline-block;
	width:20px;
	height: 20px;
	margin-right: 20px;
	background: #c00;
	vertical-align: baseline;
}


.more{
	float: right;
	margin-top: 7px;
	color:#677171;
	font-size: 14px;
}


.post-list li{
	height: 40px;
	border-bottom: 1px dotted #ccc;
	line-height: 40px;
	font-size: 16px;
	color:#000;
}

.post-list .list-item a{
	color:#000;
}

.post-list .list-item a:hover{
	color:#c00;
}

.post-date{
	font-size: 12px;
	position: relative;
	left: -5px;
}

.post-date b{
	font-size: 18px;
	position: relative;
	left: 5px;
}


.breadcrumbs{
	height: 70px;
    line-height: 70px;
    width: 1188px;
    margin: 0 auto 30px;
    border-bottom: 2px solid #c00;
    overflow: hidden;
}



.archive-item{
	border-bottom: 1px solid #f0f0f0;
	margin: 15px 0;
	padding: 15px 0;
}

.archive-item-thumb{
	float: left;
	width:250px;
}

.archive-item-content{
	margin-left: 250px;
}

.archive-item-header h3 a{
	font-size: 18px;
	font-weight: normal;
	color: #000;
}

.archive-item-meta{
	margin: 15px 0;
}

.archive-item-description{
	color: #999;
	    font-size: 14px;
	    line-height: 24px;
}


@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1460443385'); /* IE9*/
  src: url('iconfont.eot?t=1460443385#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1460443385') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1460443385') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1460443385#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}